@model ControleContatos.Models.ContatoViewModel
@{
    ViewData["Title"] = "Confirmação de apagar o contato";
}
<div class="text-center">
    <h3>Deseja realmente apagar o contato (@Model.Nome)?</h3>
</div>

<div class="mt-3">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Colse">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Colse">X</button>
            @TempData["MensagemErro"]
        </div>
    }
</div>

<div class="mt-3">
    <a class="btn btn-primary btn-block" role="button" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger btn-block" asp-controller="Contato" asp-action="Apagar" asp-route-id="@Model.Id" role="button">Confirmar exclusão</a>
</div>
